@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

ul,
li {
  list-style: none;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

/* ======================= */
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-45Regular.woff2") format("woff2"), url("../fonts/CoreSansC-45Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-delete:before {
  content: "\e928";
}

._icon-basket:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-chek-box-active:before {
  content: "\e902";
}

._icon-chek-box-disabled:before {
  content: "\e903";
}

._icon-chevron-down:before {
  content: "\e904";
}

._icon-chevron-left:before {
  content: "\e905";
}

._icon-chevron-right:before {
  content: "\e906";
}

._icon-chevron-up:before {
  content: "\e907";
}

._icon-close:before {
  content: "\e908";
}

._icon-comment:before {
  content: "\e909";
}

._icon-credi-card:before {
  content: "\e90a";
}

._icon-delivery:before {
  content: "\e90b";
}

._icon-eye:before {
  content: "\e90c";
}

._icon-eye-dark:before {
  content: "\e90d";
}

._icon-eye-hide:before {
  content: "\e90e";
}

._icon-filter:before {
  content: "\e90f";
}

._icon-heart:before {
  content: "\e910";
}

._icon-lock:before {
  content: "\e911";
}

._icon-log-out:before {
  content: "\e912";
}

._icon-play-circle:before {
  content: "\e913";
}

._icon-play-fill:before {
  content: "\e914";
}

._icon-purchase:before {
  content: "\e915";
}

._icon-radiobutton-active .path1:before {
  content: "\e916";
}

._icon-radiobutton-active .path2:before {
  content: "\e917";
  margin-left: -1em;
}

._icon-radiobutton-disabled:before {
  content: "\e918";
}

._icon-return:before {
  content: "\e919";
}

._icon-search:before {
  content: "\e91a";
}

._icon-s-fb:before {
  content: "\e91b";
}

._icon-s-in:before {
  content: "\e91c";
}

._icon-s-instaramm:before {
  content: "\e91d";
}

._icon-star-fill:before {
  content: "\e91e";
}

._icon-s-twitter:before {
  content: "\e91f";
}

._icon-t-shirt:before {
  content: "\e920";
}

._icon-user:before {
  content: "\e921";
}

._icon-a-down:before {
  content: "\e922";
}

._icon-a-left:before {
  content: "\e923";
}

._icon-a-rigth:before {
  content: "\e924";
}

._icon-arrow-big-down:before {
  content: "\e925";
}

._icon-arrow-big-right:before {
  content: "\e926";
}

._icon-a-up:before {
  content: "\e927";
}

._icon-star-rate-empty:before {
  content: "\e9d7";
}

._icon-star-rate-full:before {
  content: "\e9d9";
}

.title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: clamp(1.75rem, 1.75rem + 6 * (100vw - 320px) / 950, 2.125rem);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.0425rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5882352941em;
}
.title::before {
  content: "";
  margin-top: 0.1176470588em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.1764705882em;
          flex: 0 0 0.1764705882em;
  width: 0.1764705882em;
  height: 0.8823529412em;
  border-radius: 0.2941176471em;
  background: #8a33fd;
}

.item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}
.item-product--favorite {
  position: relative;
  gap: 1.875rem;
}
.item-product__image-wrap {
  overflow: hidden;
  border-radius: 0.625rem;
}
.item-product--favorite .item-product__image-wrap {
  border-radius: 0.75rem;
}
.item-product__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 273/393;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transition: all 0.3s;
}
.item-product--favorite .item-product__image {
  aspect-ratio: 282/370;
}
@media (any-hover: hover) {
  .item-product__image:hover .item-product__favorite-button {
    display: block;
  }
}
@media (any-hover: hover) {
  .item-product__image:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-product__left-wrap {
  display: grid;
  gap: 0.3125rem;
}
.item-product__title {
  min-width: 0;
}
.item-product__link-title {
  font-family: "Core Sans C";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  color: #191919;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-product--favorite .item-product__link-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.item-product__link-title:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  overflow: visible;
  color: #8a33fd;
}
@media (any-hover: hover) {
  .item-product__link-title:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    overflow: visible;
    color: #8a33fd;
  }
}
.item-product__label {
  font-weight: 500;
  line-height: 1.5;
  font-size: 0.875rem;
}
.item-product__arrow-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-product__arrow-link:active {
  color: #8a33fd;
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
@media (any-hover: hover) {
  .item-product__arrow-link:hover {
    color: #8a33fd;
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }
}
.item-product__price {
  font-size: 0.875rem;
  padding: 0.625em 1em;
  background-color: #f6f6f6;
  border-radius: 0.5em;
  font-weight: 700;
  color: #3c4242;
}
.item-product__favorite-button {
  position: absolute;
  z-index: 2;
  top: 1.625rem;
  right: 1.25rem;
  padding: 0.4375rem;
  width: 2rem;
  height: 2rem;
  background-color: #f6f6f6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-product__favorite-button:active {
  color: red;
  text-shadow: 0px 0px 2px red;
  -webkit-box-shadow: 0px 0px 4px 1px #f6f6f6;
          box-shadow: 0px 0px 4px 1px #f6f6f6;
}
@media (hover: hover) {
  .item-product__favorite-button:hover {
    color: red;
    text-shadow: 0px 0px 2px red;
    -webkit-box-shadow: 0px 0px 4px 1px #f6f6f6;
            box-shadow: 0px 0px 4px 1px #f6f6f6;
  }
}

.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #fff;
  border-bottom: 0.0625rem solid #bebcbd;
}
.header--margin {
  margin-bottom: clamp(2.5rem, 2.5rem + 60 * (100vw - 320px) / 950, 6.25rem);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: clamp(0.75rem, 0.75rem + 64 * (100vw - 970px) / 300, 4.75rem);
     -moz-column-gap: clamp(0.75rem, 0.75rem + 64 * (100vw - 970px) / 300, 4.75rem);
          column-gap: clamp(0.75rem, 0.75rem + 64 * (100vw - 970px) / 300, 4.75rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: clamp(3.125rem, 3.125rem + 58 * (100vw - 320px) / 950, 6.75rem);
  padding: 0.625rem 0.9375rem;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5.6875rem;
          flex: 0 1 5.6875rem;
  z-index: 4;
}
.header__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 48.06125em) {
  .header__form {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.header__button-form {
  border-radius: 0.5rem 0 0 0.5rem;
  background: #f6f6f6;
  height: 2.75rem;
  padding: 0 0.75rem 0 clamp(0.75rem, 0.75rem + 8 * (100vw - 320px) / 950, 1.25rem);
}
@media (min-width: 47.99875em) {
  .header__button-form:hover {
    color: #8a33fd;
  }
}
.header__button-form:active {
  color: #3c4242;
}
.header__input {
  border-radius: 0 0.5rem 0.5rem 0;
  background: #f6f6f6;
  height: 2.75rem;
  width: 100%;
  padding: 0 0.625rem;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  z-index: 4;
}
@media (max-width: 31.31125em) {
  .header__actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem 0.9375rem;
    background-color: #fff;
    border-top: 0.0625rem solid #bebcbd;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__item {
  padding: 0.9375rem;
  border-radius: 0.5rem;
  background: #f6f6f6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 47.99875em) {
  .header__item:hover {
    background-color: #8a33fd;
    color: #fff;
    text-shadow: 0 0 0.375rem #fff;
  }
}
.header__item:active {
  background-color: #8a33fd;
  color: #fff;
}
@media (max-width: 31.31125em) {
  .header__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30.1875rem;
          flex: 1 1 30.1875rem;
}
@media (max-width: 48.06125em) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #3c4242;
    color: #fff;
    z-index: 2;
    padding: 6.8125rem 1.25rem;
  }
  .menu::after {
    content: "";
    width: 100%;
    height: clamp(4.125rem, 4.125rem + 43 * (100vw - 320px) / 950, 6.8125rem);
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    border-bottom: 0.0625rem solid #bebcbd;
  }
}
.menu-open .menu {
  top: 0%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: clamp(0.9375rem, 0.9375rem + 25 * (100vw - 970px) / 300, 2.5rem);
     -moz-column-gap: clamp(0.9375rem, 0.9375rem + 25 * (100vw - 970px) / 300, 2.5rem);
          column-gap: clamp(0.9375rem, 0.9375rem + 25 * (100vw - 970px) / 300, 2.5rem);
  row-gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 48.06125em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }
}
.menu__link {
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.menu__link--active {
  font-weight: 700;
  color: #3c4242;
}
@media (max-width: 48.06125em) {
  .menu__link {
    font-size: 1.625rem;
  }
  .menu__link:active {
    text-decoration: underline;
    color: #3c4242;
  }
}
@media (min-width: 47.99875em) {
  .menu__link::before {
    content: "";
    height: 0.1875rem;
    background-color: #8a33fd;
    position: absolute;
    top: 100%;
    width: 0;
    left: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0.125rem;
    margin-top: 0.125rem;
  }
  .menu__link:hover {
    color: #8a33fd;
  }
  .menu__link:hover::before {
    width: 100%;
    left: 0;
  }
}

.button-burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  z-index: 2;
  display: none;
}
@media (max-width: 48.06125em) {
  .button-burger {
    width: 1.875rem;
    height: 1.625rem;
    position: relative;
    display: block;
  }
  .button-burger span, .button-burger::before, .button-burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background: #3c4242;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .button-burger span {
    top: 50%;
    margin-top: -0.125rem;
  }
  .button-burger::before {
    top: 0;
  }
  .button-burger::after {
    bottom: 0;
  }
  .menu-open .button-burger::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  .menu-open .button-burger::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
  }
  .menu-open .button-burger span {
    display: none;
  }
}

.menu-footer__title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
}

.menu-footer__item {
  font-size: 1.125rem;
  font-weight: 500;
}

.footer {
  background-color: #3c4242;
  color: #fff;
}
.menu-footer {
  padding-top: clamp(1.875rem, 1.875rem + 45 * (100vw - 320px) / 950, 4.6875rem);
  padding-left: clamp(0rem, 0rem + 85 * (100vw - 768px) / 502, 5.3125rem);
  padding-right: clamp(0rem, 0rem + 85 * (100vw - 768px) / 502, 5.3125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem clamp(1.875rem, 1.875rem + 16 * (100vw - 768px) / 502, 2.875rem);
}
.menu-footer__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 11.25rem;
          flex: 1 1 11.25rem;
}
.menu-footer__block:last-child {
  -ms-flex-preferred-size: 24.375rem;
      flex-basis: 24.375rem;
}
body {
  font-family: "Causten", sans-serif;
  line-height: 1.2;
  color: #807d7e;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=_container] {
  /* задаємо ширину контейнера без одиниць 
  вимірювання в змінну $containerWidth: в _function.scss*/
  max-width: 79.375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}