/* ======================= */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

ul,
li {
  list-style: none;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.46;
  color: #7d7d7d;
}
@media (max-width: 68.18625em) {
  .menu-open body {
    overflow: hidden;
  }
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=_container] {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.text-box > *:not(:last-child) {
  margin-bottom: clamp(2.5rem, 2.5rem + 10 * (100vw - 320px) / 930, 3.125rem);
}
.text-box__item {
  font-size: 1.5rem;
  text-align: justify;
}
.text-box__button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  padding: 1.2222222222em 2.3888888889em;
  background: #6b77e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .text-box__button:hover {
    background: #6b77e5;
    background: #40ddb6;
  }
}