/****************************Hand Made fonts + import fonts----------------------*/

@import url('fonts.css');

/* ***************************Reset style*************************************/

@import url("reset.css");

/*******************************main style*********************************=====*/
body {
  font-family: "Causten";
  line-height: 1.22;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper>main {
  flex: 1 1 auto;
}

/* *******************************General styles********************************** */
[class*='_container'] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

/* =============================================HEADER=================================== */

.header {
  border-bottom: 1px solid #BEBCBD;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 50;

}

.header__container {}

.header__body {}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 35px 0;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;

}

.body__logo {
  margin-right: 163px;
}

.body__logo {}

.body__search {
  position: relative;
  margin-right: 210px;
  padding: 12px 48px;
  background: #f6f6f6;
  border-radius: 8px;
  color: #807D7E;
}



.body__search p::before {
  content: '';
  display: inline-flex;
  position: absolute;
  top: 13px;
  left: 21px;
  width: 20px;
  height: 20px;
  background: url('../img/icons/search.svg') center no-repeat;
}

.body__user-items {}

.item {
  display: flex;
  align-items: center;
}

.item__lang {}

.lang {
  margin-right: 60px;
  padding-right: 29px;
  position: relative;
  transition: all 0.3s;
}


.lang::after {
  content: '';
  display: inline-flex;
  position: absolute;
  top: 8px;
  right: 0px;
  width: 10px;
  height: 5px;
  background: url('../img/icons/arrow-header.svg') center / contain no-repeat;
  transition: all 0.3s;
}

.lang a:hover {
  color: #8A33FD;
}

.lang:hover .lang__items {
  visibility: visible;
  transition: all 0.3s;
  opacity: 1;
  padding-top: 15px;
}

.lang:hover::after {
  transform: rotate(-180deg);
  top: 7px;
}

.lang__items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 67%;
  border-radius: 5px;
  padding-top: 35px;
  transition: color 0.255s;
}

.lang__items li {
  background: #f6f6f6;
  padding: 7px 15px;
}

.lang__items>li:hover {
  color: #8A33FD;
  cursor: pointer;
}



.item__login {}

.item__sign {}

.button a {
  padding: 12px 48px;
  border-radius: 8px;
  border: 1px solid #3C4242;
  color: #8A33FD;
  transition: all 0.3s;
}

.button a:hover {
  transform: scale(1.05);
}

.item__login a {
  background: #8A33FD;
  color: #fff;
}

.item__sign a:active {
  background: #8A33FD;
  color: #fff;
}

.item__sign:not(:last-child) {
  margin-right: 29px;
}

.item__login:not(:last-child) {
  margin-right: 29px;
}

/* =============================================MAIN======================================= */

.page {}

.page__container {
  padding-top: 170px;
}

.categories {}

.categories--margin {
  margin-bottom: 50px;
}

.categories__box {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.categories__title {
  color: #3C4242;
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 650;
  line-height: 0.98;
  letter-spacing: 0.68px;
  position: relative;
  padding-left: 26px;
  margin-bottom: 70px;
}

.categories__title::before {
  content: '';
  display: inline-flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8A33FD;
}

.categories__items {}

.item-categories {
  display: flex;
  flex-direction: column;
}

.item-categories__image {
  border-radius: 10px;
  margin-bottom: 15px;
  flex: 0 1 270px;
  transition: all 0.3s;
}

.item-categories__image:hover {
  transform: translate(3px, 3px);
  box-shadow: -4px -4px 8px 0px #333333c5;
}

.item-categories__image img {
  width: 100%;
}

.item-categories__body {
  display: flex;
  justify-content: space-between;
}

.item-categories__content {}

.item-categories__title {
  color: #2A2F2F;
  font-size: 17.875px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.715px;
  margin-bottom: 4px;
  transition: all 0.3s;
}

.item-categories__title:hover {
  color: #8A33FD;
}

.item-categories__text {
  color: #7F7F7F;
  font-size: 13.407px;
  font-weight: 500;
  line-height: 2.08;
  letter-spacing: -0.536px;
}

.item-categories__link-arrow {
  align-self: center;
  transition: all .3s;
  padding: 5px;
}

.item-categories__link-arrow:hover path {
  fill: #8A33FD;
}

/* -------------------------------------------------------------------- */
.wishlist {}

.wishlist--margin {
  max-width: 903px;
  margin: 0 auto 50px;
}

.wishlist__box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EDEEF2;
  justify-content: space-between;
  padding: 30px 0;
}

.wishlist__box>*:not(:last-child) {
  margin-right: 36px;
}



.wishlist__delete img {
  transition: all 0.3s;
}

.wishlist__delete img:hover {
  transform: scale(1.05);
}

.wishlist__image {}

.wishlist__image img {
  transition: all 0.3s;
}

.wishlist__image img:hover {
  transform: scale(1.1);
}

.wishlist__description {}

.description {
  flex: 1 1 315px;
}

.description__title {
  color: #3C4242;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
  transition: all 0.3s;
}

.description__title:hover {
  color: #8A33FD;
}

.description__color,
.description__quantity {
  color: #807D7E;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}

.description__color span,
.description__quantity span {
  color: #3C4242;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
}

.description__quantity {}

.wishlist__price {
  color: #807D7E;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
  margin-right: 51px;
}

.wishlist__add-to-card {
  padding: 14px 28px;
  border-radius: 8px;
  border: 1px solid #3C4242;
  background: #8A33FD;
  transition: all 0.3s;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
}

.wishlist__add-to-card:hover {
  background: #771cee;
}

/* ------------------------------------------------------------------ */
.orders {}

.orders--margin {
  margin-bottom: 50px;
}

.orders__box {
  max-width: 894px;
  margin: 0 auto;
}

.orders__body {}

.orders__body:not(:last-child) {
  margin-bottom: 30px;
}

.body-order {
  border-radius: 8px;
  background: #F6F6F6;
  padding: 28px 48px;

}

.body-order__title {
  color: #3C4242;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

.body-order__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
}

.body-order__item {
  flex: 0 1 auto;
  color: #BEBCBD;
  font-size: 14px;
  font-weight: 400;
}

.body-order__item p:not(:last-child) {
  margin-bottom: 7px;
}

.body-order__item span {
  color: #807D7E;
  font-size: 14px;
  font-weight: 600;
}

.orders__content {}

.orders__content {
  border-bottom: 1px solid #EDEEF2;
  padding-bottom: 30px;
}

.orders__content:not(:last-child) {
  margin-bottom: 30px;

}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

}

.content__image {
  border-radius: 4px;
  transition: all 0.3s;
}

.content__image img {
  width: 100%;
}

.content__image:hover {
  transform: scale(1.05);
}

.content__description {}

.description-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description-content p {
  color: #BEBCBD;
  font-size: 14px;
  font-weight: 600;
}


.description-content p:last-child {
  color: #807D7E;
}

.description-content span {
  color: #3C4242;
}

.description-content__title {
  color: #3C4242;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

.description-content__title:hover {
  color: #8A33FD;
}


.content__detail {
  border-radius: 8px;
  background: #8A33FD;
  padding: 14px 28px;
  color: #FFF;
  font-size: 18px;
  align-self: center;
  transition: all 0.3s;
}

.content__detail:hover {
  background: #771cee;

}

/* =============================================FOOTER========================================== */

.footer {
  display: flex;
  justify-content: center;
  background: #3C4242;
  align-items: center;
  padding: 59px 0;
}

.footer__text {}

.footer__text p {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}