/****************************Hand Made fonts + import fonts----------------------*/

@import url('fonts.css');

/* ***************************Reset style*************************************/

@import url("reset.css");

/*******************************main style*********************************=====*/
body {
  font-family: "Causten";
  line-height: 1.22;

}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper>main {
  flex: 1 1 auto;
}

/* *******************************General styles********************************** */
[class*='_container'] {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

/* =============================================HEADER=================================== */

.header {
  border-bottom: 1px solid #BEBCBD;
  min-height: 40px;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__text {
  font-size: 24px;
  font-weight: 700;
}

/* =============================================MAIN======================================= */
.page {}

.page__container {}

.container-check-out {
  max-width: 840px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #EDEEF2;
  padding-bottom: 32px;
}

.check-out {}

.check-out--margin {
  max-width: 801px;

}

.check-out__title {
  position: relative;
  padding-left: 21px;
  margin-bottom: 20px;
}

.check-out__title::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  width: 6px;
  height: 28px;
  border-radius: 10px;
  background: #8A33FD;
}

.title {
  color: #3C4242;
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.56px;
}

.check-out__form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 37px;
  row-gap: 28px;
  margin-bottom: 43px;
}

.check-out__subtitle {
  margin-bottom: 10px;
}

.subtitle {
  color: #3C4242;
  font-family: "Core Sans C";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.44px;
}

.check-out__line {}

.line {
  flex: 0 1 382px;
}

.check-out__label {
  display: inline-flex;
  margin-bottom: 10px;
  color: #3C4242;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.check-out__input {
  padding: 0 20px;
  width: 100%;
  height: 49px;
  border-radius: 8px;
  background: #F6F6F6;
}

.check-out__input:focus {
  outline: 2px solid #BEBCBD;
}

.check-out__input:focus::placeholder {
  opacity: 0;
}

.check-out__input::placeholder {
  color: #807D7E;
  font-size: 14px;
}

.check-out__state-box {
  flex: 1 1 100%;
  display: flex;
  column-gap: 31px;
  flex-wrap: wrap;
}

.check-out__line-state {
  flex: 1 1 30%;
}

.select-item {}

.select-item option {
  background: #F6F6F6;
}

.select-item option:nth-of-type(2n+3) {
  background: #ebeaea;

}

.check-out__button {
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.check-out__button:hover {
  background: #7f1eff;
}

.button--purple {
  background: #8A33FD;
}

.button {
  padding: 16px 20px;
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

.check-out__line-checkbox {}

.check-out__input-checkbox {
  opacity: 0;
}

.check-out__label-checkbox {
  color: #3C4242;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  padding-left: 11px;

}

.check-out__input-checkbox:checked+.check-out__label-checkbox::after {
  transform: scale(1);
}

.check-out__label-checkbox::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -16px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #BEBCBD;
}

.check-out__label-checkbox::after {
  transform: scale(0);
  content: '';
  position: absolute;
  top: 4px;
  left: -16px;
  width: 19px;
  height: 16px;
  background: url("../img/icons/check.svg") 0 0/contain no-repeat;
  transition: all 0.1s;

}



/* -------------------------------+++++++++++++++++++++++++++++++++++++----------------------------------- */

.container-small {
  max-width: 840px;
  margin: 0 auto 50px;

}

.shipping-adress {}

.shipping-adress--margin {
  margin-bottom: 20px;
  border-bottom: 1px solid #EDEEF2;
  padding-bottom: 32px;
}


.shipping-adress__form {}

.shipping-adress__subtitle {
  margin-bottom: 8px;
}

.subtitle {}

.shipping-adress__text {
  margin-bottom: 30px;
}

.shipping-adress__fieldset {
  border-radius: 12px;
  background: #F6F6F6;
  padding: 38px 65px 38px 28px;
}

.shipping-adress__box:not(:last-child) {
  margin-bottom: 25px;
  border-bottom: 1px solid #BEBCBD;
  padding-bottom: 25px;
}

.shipping-adress__fieldset+.shipping-adress__label {
  border-bottom: 1px solid #BEBCBD;
}

.shipping-adress__label {
  display: inline-flex;
  column-gap: 19px;
  color: #3C4242;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.shipping-adress__label::before {
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid #3C4242;
  border-radius: 50%;
  flex: 0 0 auto;

}

.shipping-adress__label::after {
  content: '';
  width: 10px;
  height: 10px;
  top: 7px;
  left: 4px;
  background: #3C4242;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.shipping-adress__input:checked+.shipping-adress__label::after {
  visibility: visible;
  opacity: 1;
}

.shipping-adress__input {
  opacity: 0;
  position: absolute;
}

/* +++++++++++++++++++++++++++++++++++++ */

.shipping-method {}

.shipping-method--margin {
  margin-bottom: 20px;
  border-bottom: 1px solid #EDEEF2;
  padding-bottom: 32px;
}

.shipping-method__subtitle {
  margin-bottom: 30px;
}

.subtitle {}

.shipping-method__wrapper {
  border-radius: 12px;
  background: #F6F6F6;
  padding: 32px 48px 32px 26px;
}

.shipping-method__price,
.shipping-method__text {
  color: #3C4242;
  font-size: 20px;
  font-weight: 700;
}

.shipping-method__box {
  display: flex;
  gap: 15px;
  justify-content: space-between;

}

.shipping-method__wrapper>.shipping-method__text {
  margin-bottom: 25px;
  border-bottom: 1px solid #BEBCBD;
  padding-bottom: 25px;
}

.shipping-method__text-item {
  color: #807D7E;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.shipping-method__price {}


/* +++++++++++++++++++++++++++++++++++++++++++++ */

.payment {}

.payment--margin {
  margin-bottom: 50px;
}

.payment__subtitle {
  margin-bottom: 8px;
}

.subtitle {}

.payment__text {
  margin-bottom: 30px;
  color: #3C4242;
}

.payment__card {}

.card {
  border-radius: 12px;
  background: #F6F6F6;
  padding: 45px 48px 45px 28px;
}

.card__input {
  margin-bottom: 5px;
  position: absolute;
  opacity: 0;
}


.card__input:checked+.card__label::after {
  visibility: visible;
  opacity: 1;
}

.card__label {
  color: #3C4242;
  font-size: 20px;
  font-weight: 700;
  column-gap: 19px;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 37px;
}

.card__label::before {
  content: '';
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  position: absolute;
  border: 2px solid #3C4242;
  border-radius: 50%;
}

.card__label:not(:last-child)::before {
  transform: translateY(0);

}

.card__label:not(:last-child)::after {
  top: 16px;
}

.card__label::after {
  content: '';
  width: 10px;
  height: 10px;
  top: 7px;
  left: 8px;
  background: #3C4242;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.card__text {
  color: #3C4242;
  margin-bottom: 30px;
  padding-left: 37px;
}

.card__images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-bottom: 31px;
  padding-left: 37px;
}

.card__images-wrap {
  padding: 17px 14px;
  background: #ffffff;
  border-radius: 8px;
  max-height: 46px;
  flex: 0 1 80px;
  overflow: hidden;
}

.card__images img {}

.card__info {
  margin-bottom: 30px;
  padding: 30px 23px 30px 37px;
  border-bottom: 1px solid #BEBCBD;
  display: flex;
  gap: 28px 30px;
  flex-wrap: wrap;
}

.card__input-info {
  padding: 16px 20px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #3C4242;
  background: #F6F6F6;
  flex: 0 1 337px;
}

.card__input-info-box {
  flex: 0 1 337px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}



.password-eye {
  padding-right: 40px;
}

.card__password-eye {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-40%);
  cursor: pointer;
}

.card__password-eye:target .card__password-eye path {
  fill: #40DDB6;
}

.shipping-adress__button-pay {
  padding: 16px 20px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.shipping-adress__button-pay:hover {
  background: #7f1eff;
}


/* -------------------------------------------------------------------------------------------------- */

.my-info {}

.my-info--container {
  max-width: 895px;
  margin: 0 auto 50px;
}

.my-info__title {
  margin-bottom: 20px;
}

.subtitle {}

.my-info__subtitle {
  margin-bottom: 50px;
}

.my-info__form {}

.my-info__form>* :focus {
  outline: 2px solid #BEBCBD;

}

.form-info {}

.form-info__box {
  display: flex;
  flex-wrap: wrap;
  gap: 42px 27px;
}

.form-info__line {}

.line-info {
  flex: 1 1 434px;
  display: flex;
  flex-wrap: wrap;
}

.line-info__label,
.line-info__label-textarea {
  margin-bottom: 10px;
  color: #3C4242;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
}

.line-info__input {
  padding: 0 22px;
  height: 54px;
  border-radius: 8px;
  background: #F6F6F6;
  flex: 1 1 100%;
}

.line-info__input::placeholder,
.line-info__textarea::placeholder {
  color: #807D7E;
}


.form-info__textarea-box {
  flex: 1 1 100%;
  margin-bottom: 30px;
}

.line-info__label-textarea {}

.line-info__textarea {
  resize: vertical;
  min-height: 149px;
  border-radius: 8px;
  background: #F6F6F6;
  padding: 17px 22px;
  width: 100%;
  font-family: "Causten";
  font-size: 16px;
}

.form-info__checkbox-body {
  margin-bottom: 60px;
}

.form-info__body-checkbox:not(:last-child) {
  margin-bottom: 15px;
}

.form-info__chekbox-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.form-info__chekbox-label {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  color: #3C4242;
  font-size: 20.087px;
}

.form-info__chekbox-label:not(:last-child) {
  margin-bottom: 15px;
}

.form-info__chekbox-input:checked+.form-info__chekbox-label::after {
  transform: scale(1);
}

.form-info__chekbox-label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #BEBCBD;
}

.form-info__chekbox-label::after {
  transform: scale(0);
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  width: 19px;
  height: 16px;
  background: url("../img/icons/check.svg") 0 0/contain no-repeat;
  transition: all 0.1s;
}

.form-info__button {
  padding: 12px 40px;
  color: #FFF;
  font-size: 20.087px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}


.form-info__button+.form-info__button {
  margin-left: 30px;
}

.button--purple:hover {
  background: #7f1eff;
}

.button--gray {
  color: #807D7E;
  font-weight: 700;
  background: #F6F6F6;
}

.button--gray:hover {
  background: #e7e7e7;
}

/* ---------------------------------------------------------------- */

.request {}

.request--margin {
  margin-bottom: 150px;
}

.request__subtitle {
  text-align: center;

}

.request__subtitle-text {
  color: #37393F;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  display: inline-flex;
  gap: 6px;
  align-items: center;
}



.request__subtitle-text::before {
  content: '';
  width: 12px;
  height: 12px;
  background: #40DDB6;
}

.request__title {
  color: #37393F;
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 40px;
}

.request__form {}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 28px 35px;
  justify-content: center;
}

.form__input {
  flex: 1 1 48%;
  padding: 0 40px;
  height: 65px;
  border: 1px solid #DDD;
  background: #F8F8F8;
  font-size: 18px;
  border-radius: 0 !important;
}

.form__textarea::placeholder,
.form__input::placeholder {
  color: #37393F;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}

.form__textarea {
  resize: vertical;
  border: 1px solid #DDD;
  background: #F8F8F8;
  flex: 1 1 100%;
  min-height: 222px;
  padding: 22px 40px;
  font-size: 18px;
}

.form__button {
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background: #6B77E5;
  padding: 21px 61px 22px 61px;
  transition: all 0.3s;
  cursor: pointer;
}

.form__button:hover {
  background: #4654da;

}

/* =============================================FOOTER========================================== */

.footer {
  display: flex;
  justify-content: center;
  background: #3C4242;
  align-items: center;
  /* padding: 59px 0; */
}

.footer__text {}

.footer__text p {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}