/* ======================= */
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format(woff2), url("../fonts/CoreSansC-65Bold.woff") format(woff);
  font-weight: 650;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format(woff2), url("../fonts/Causten-Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format(woff2), url("../fonts/Causten-Medium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format(woff2), url("../fonts/Causten-Regular.woff2") format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

ul,
li {
  list-style: none;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

body {
  font-family: "Causten", serif;
  line-height: 1.2;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=_container] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: #333;
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
}

.header {
  border-bottom: 1px solid #bebcbd;
  padding: 15px 0;
  z-index: 99;
  background: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: clamp(50px, 6.3779527559vw, 81px);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 880.98px) {
  .header__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media (max-width: 360px) {
  .header__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border-radius: 8px;
  padding: 1px 28px 1px 78px;
  width: 184px;
  height: 46px;
  background: url("../img/search.svg") 48px center/20px no-repeat #f6f6f6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__search::-webkit-input-placeholder {
  color: #807d7e;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
}
.header__search::-moz-placeholder {
  color: #807d7e;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
}
.header__search:-ms-input-placeholder {
  color: #807d7e;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
}
.header__search::-ms-input-placeholder {
  color: #807d7e;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
}
.header__search::placeholder {
  color: #807d7e;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
}
.header__search:focus {
  background: url("../img/search.svg") 8px center/20px no-repeat #f6f6f6;
  padding: 12px 28px 12px 38px;
  outline: 1px solid #8a33fd;
  -webkit-box-shadow: inset 0px 0px 3px 1px #8a33fd;
          box-shadow: inset 0px 0px 3px 1px #8a33fd;
  font-size: 18px;
}
.header__actions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 613px;
          flex: 1 1 613px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 592px) {
  .header__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}
.header__language select {
  padding: 12px 29px 12px 5px;
  color: #333;
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header__language select:focus {
  outline: 1px solid #8a33fd;
  border-radius: 8px;
}
.header__language::after {
  content: "";
  margin-left: -10px;
  width: 10px;
  height: 5px;
  background: url("../img/arrow-language.svg") 0 0/10px 5px no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) {
  .header__language:hover::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.header__login-actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}
@media (max-width: 360px) {
  .header__login-actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__login, .header__Sign {
  border-radius: 8px;
  border: 1px solid #3c4242;
  padding: 12px 48px;
  color: #8a33fd;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
@media (hover: hover) {
  .header__login:hover, .header__Sign:hover {
    -webkit-box-shadow: inset 0px 0px 3px 1px #8a33fd;
            box-shadow: inset 0px 0px 3px 1px #8a33fd;
  }
}
@media (max-width: 360px) {
  .header__login, .header__Sign {
    width: 100%;
    text-align: center;
  }
}
.active {
  background: #8a33fd;
  color: #fff;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(20px, 6.1417322835vw, 78px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.login__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding-right: 78px;
}
@media (max-width: 680px) {
  .login__bg {
    display: none;
  }
}
.login__bg img {
  aspect-ratio: 694/952;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}
.login__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.login__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: clamp(20px, 4.7244094488vw, 60px);
  padding-bottom: clamp(0px, 15.905511811vw, 202px);
}
@media (max-width: 680px) {
  .login__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.login__title {
  margin-bottom: clamp(20px, 3.937007874vw, 50px);
}
@media (max-width: 680px) {
  .login__title {
    text-align: center;
  }
}
.login__google, .login__twitter {
  color: #8a33fd;
  font-size: 22px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px solid #3c4242;
}
.login__google:not(:last-child), .login__twitter:not(:last-child) {
  margin-bottom: 20px;
}
.login__google:hover, .login__twitter:hover {
  -webkit-box-shadow: inset 0px 0px 2px 1px #8a33fd;
          box-shadow: inset 0px 0px 2px 1px #8a33fd;
}
.login__google::before, .login__twitter::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/google.svg") 0 0/contain no-repeat;
}
.login__twitter:not(:last-child) {
  margin-bottom: 50px;
}
.login__twitter::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/twitter.svg") 0 0/contain no-repeat;
}
.login__or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}
.login__or:not(:last-child) {
  margin-bottom: 50px;
}
.login__or::before {
  content: "";
  width: 50%;
  height: 2px;
  background: rgba(102, 102, 102, 0.25);
}
.login__or::after {
  content: "";
  width: 50%;
  height: 2px;
  background: rgba(102, 102, 102, 0.25);
}
.login__email, .login__password {
  color: #3c4242;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.login__email::first-letter, .login__password::first-letter {
  text-transform: uppercase;
}
.login__email:not(:last-child), .login__password:not(:last-child) {
  margin-bottom: 30px;
}
.login__email input, .login__password input {
  width: 100%;
  height: 58px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #3c4242;
}
.login__email input:focus, .login__password input:focus {
  outline: 1px solid #8a33fd;
}
.login__email input, .login__password input {
  margin-top: 10px;
}
.login__password {
  position: relative;
}
.login__forgot-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: underline;
}
.login__forgot-link:not(:last-child) {
  margin-bottom: 30px;
}
@media (hover: hover) {
  .login__forgot-link:hover {
    color: #8a33fd;
  }
}
.login__forgot-link--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  pointer-events: none;
}
.login__pass-hide {
  color: #807d7e;
  font-size: 18px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
}
.login__pass-hide::before {
  content: "";
  width: 18px;
  height: 16px;
  background: url("../img/hide-eye.svg") 0 0/contain no-repeat;
}
.login__button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 57px;
  border-radius: 8px;
  background: #8a33fd;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.login__button:not(:last-child) {
  margin-bottom: 10px;
}
@media (hover: hover) {
  .login__button:hover {
    background: #7c25ec;
  }
}
@media (max-width: 360px) {
  .login__button {
    width: 100%;
    text-align: center;
  }
}
.login__signup-link a {
  text-decoration: underline;
}
@media (hover: hover) {
  .login__signup-link a:hover {
    color: #8a33fd;
  }
}
.login__agree, .login__subscribe {
  color: #807d7e;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.login__agree input, .login__subscribe input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.login__agree input:checked + label::before, .login__subscribe input:checked + label::before {
  background: url("../img/check-box.svg") 0 0/contain no-repeat;
}
.login__agree label, .login__subscribe label {
  cursor: pointer;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.login__agree label::before, .login__subscribe label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 18px;
  background: #3c4242;
  border-radius: 3px;
}
.login__agree a, .login__subscribe a {
  text-decoration: underline;
  display: inline;
}
.login__subscribe:not(:last-child) {
  margin-bottom: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background: #f6f6f6;
}
.footer__text {
  color: palevioletred;
  font-size: clamp(24px, 2.8346456693vw, 36px);
}