/* ======================= */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

ul,
li {
  list-style: none;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

.title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.75rem, 1.75rem + 12 * (100vw - 320px) / 930, 2.5rem);
  font-weight: 700;
  line-height: 1.21;
}

.smalltitle {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 1.5rem + 6 * (100vw - 320px) / 930, 1.875rem);
  font-style: normal;
  font-weight: 600;
  line-height: 1.27;
}

.solution-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  padding: clamp(0.625rem, 0.625rem + 20 * (100vw - 320px) / 930, 1.875rem);
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.46;
  color: #7d7d7d;
}
@media (max-width: 68.18625em) {
  .menu-open body {
    overflow: hidden;
  }
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=_container] {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-line {
  background: #37393f;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.22;
}
.top-line__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(0.625rem, 0.625rem + 11 * (100vw - 320px) / 930, 1.3125rem) 15px;
}
@media (max-width: 57.87375em) {
  .top-line__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
}
@media (max-width: 34.43625em) {
  .top-line__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.top-line__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.9375rem, 0.9375rem + 27 * (100vw - 320px) / 930, 2.625rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top-line__location, .top-line__time, .top-line__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.top-line__location::before, .top-line__time::before, .top-line__mail::before {
  content: "";
  width: 23px;
  height: 22px;
  background: url("../img/top-line/location.svg") 0 0/contain no-repeat;
}
@media (max-width: 57.87375em) {
  .top-line__location, .top-line__time, .top-line__mail {
    display: none;
  }
}
@media (any-hover: hover) {
  .top-line__location:hover, .top-line__time:hover, .top-line__mail:hover {
    color: #40ddb6;
  }
}
.top-line__mail::before {
  background: url("../img/top-line/mail.svg") 0 0/contain no-repeat;
}
.top-line__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(0.9375rem, 0.9375rem + 35 * (100vw - 320px) / 930, 3.125rem);
}
.top-line__time::before {
  background: url("../img/top-line/time.svg") 0 0/contain no-repeat;
}
.top-line__social-wrapp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.top-line__social-link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .top-line__social-link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.top-line__social-link svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .top-line__social-link:hover svg path {
    fill: #40ddb6;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: clamp(0.3125rem, 0.3125rem + 28 * (100vw - 320px) / 930, 2.0625rem) 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, 1.25rem + 20 * (100vw - 320px) / 930, 2.5rem);
  color: #37393f;
  font-family: "Inter", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.header__menu {
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 68.18625em) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
  }
  .menu-open .header__menu {
    top: 0;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(0.9375rem, 0.9375rem + 25 * (100vw - 320px) / 930, 2.5rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 68.18625em) {
  .header__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #7d7d7d;
    padding-top: clamp(3.125rem, 3.125rem + 50 * (100vw - 320px) / 930, 6.25rem);
    padding-bottom: clamp(3.125rem, 3.125rem + 50 * (100vw - 320px) / 930, 6.25rem);
  }
}
.header__link {
  font-size: 1.125rem;
  text-transform: capitalize;
}
@media (max-width: 68.18625em) {
  .header__link {
    font-size: 24px;
  }
}
@media (any-hover: hover) {
  .header__link:hover {
    text-decoration: underline;
  }
}
.header__submenu {
  display: none;
}
.header__button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  padding: 1.2222222222em 2.3888888889em;
  background: #6b77e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .header__button:hover {
    background: #6b77e5;
    background: #40ddb6;
  }
}
@media (max-width: 34.43625em) {
  .header__button {
    position: fixed;
    right: 10px;
    top: 5px;
    -webkit-animation: buttonAnimation 2.3s infinite alternate;
            animation: buttonAnimation 2.3s infinite alternate;
    padding: 5px 10px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 68.18625em) {
  .header__burger {
    width: 30px;
    height: 26px;
    position: relative;
    display: block;
    z-index: 22;
  }
}
.header__burger span, .header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 4px;
  background: #37393f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__burger span {
  top: 50%;
  margin-top: -2px;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.menu-open .header__burger::before {
  background: #fff;
  -webkit-transform: rotate(45deg) scale(1.3);
      -ms-transform: rotate(45deg) scale(1.3);
          transform: rotate(45deg) scale(1.3);
  top: 50%;
}
.menu-open .header__burger::after {
  background: #fff;
  -webkit-transform: rotate(-45deg) scale(1.3);
      -ms-transform: rotate(-45deg) scale(1.3);
          transform: rotate(-45deg) scale(1.3);
  top: 50%;
}
.menu-open .header__burger span {
  display: none;
}

.hero {
  position: relative;
  min-height: 100vh;
  padding-top: clamp(5.625rem, 5.625rem + 14 * (100vw - 320px) / 930, 6.5rem);
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__container {
  max-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.hero__body-wrapp {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__body {
  padding: clamp(0.9375rem, 0.9375rem + 189 * (100vw - 320px) / 930, 12.75rem) clamp(0.9375rem, 0.9375rem + 165 * (100vw - 320px) / 930, 11.25rem) clamp(0.9375rem, 0.9375rem + 189 * (100vw - 320px) / 930, 12.75rem) clamp(0.9375rem, 0.9375rem + 101 * (100vw - 320px) / 930, 7.25rem);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  min-height: 100%;
  background-color: rgba(55, 57, 63, 0.91);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
}
@media (max-width: 48.06125em) {
  .hero__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.hero__subtitle {
  color: #fff;
  font-size: clamp(0.875rem, 0.875rem + 4 * (100vw - 320px) / 930, 1.125rem);
  font-weight: 500;
  line-height: 1.22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.hero__subtitle::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #40ddb6;
}
@media (max-width: 48.06125em) {
  .hero__subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 2rem + 28 * (100vw - 320px) / 930, 3.75rem);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}
.hero__title span {
  color: #40ddb6;
}
.hero__text {
  margin-bottom: 35px;
  color: #b9b9b9;
}
.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 48.06125em) {
  .hero__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__button {
  color: #37393f;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  padding: 1.2222222222em 2.3888888889em;
  background: #40ddb6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .hero__button:hover {
    background: #40ddb6;
    background: #6b77e5;
  }
}
@media (max-width: 35.56125em) {
  .hero__button {
    width: 100%;
  }
}
.hero__video-link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 35.56125em) {
  .hero__video-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background: #40ddb6;
    color: #37393f;
    font-weight: 700;
    padding: 5px 0;
  }
}
.hero__video-link svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .hero__video-link:hover svg path {
    fill: #40ddb6;
  }
}
.hero__video-link p {
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .hero__video-link p:hover {
    text-decoration: underline;
  }
}

.whitecollar {
  position: relative;
}
.whitecollar__bg {
  width: 43%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  z-index: -1;
}
@media (max-width: 48.06125em) {
  .whitecollar__bg {
    display: none;
  }
}
.whitecollar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: clamp(1.875rem, 1.875rem + 120 * (100vw - 320px) / 930, 9.375rem);
  padding-bottom: clamp(1.875rem, 1.875rem + 120 * (100vw - 320px) / 930, 9.375rem);
  gap: clamp(1.25rem, 1.25rem + 49 * (100vw - 320px) / 930, 4.3125rem);
}
@media (max-width: 48.06125em) {
  .whitecollar__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.whitecollar__togrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 408px;
          flex: 0 1 408px;
}
.whitecollar__bussines-plan {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 612px;
          flex: 0 1 612px;
}
@media (max-width: 48.06125em) {
  .whitecollar__bussines-plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.whitecollar__subtitle {
  color: #37393f;
  font-size: clamp(0.875rem, 0.875rem + 4 * (100vw - 320px) / 930, 1.125rem);
  font-weight: 500;
  line-height: 1.22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.whitecollar__subtitle::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #40ddb6;
}
.whitecollar__title {
  max-width: 10.325em;
}
.whitecollar__title:not(:last-child) {
  margin-bottom: clamp(1.25rem, 1.25rem + 0 * (100vw - 320px) / 930, 1.25rem);
}
.whitecollar__text:not(:last-child) {
  margin-bottom: clamp(1.25rem, 1.25rem + 0 * (100vw - 320px) / 930, 1.25rem);
}
.whitecollar__text p:not(:last-child) {
  margin-bottom: clamp(0.9375rem, 0.9375rem + 0 * (100vw - 320px) / 930, 0.9375rem);
}
.whitecollar__list {
  text-align: left;
}
.whitecollar__list:not(:last-child) {
  margin-bottom: clamp(1.25rem, 1.25rem + 23 * (100vw - 320px) / 930, 2.6875rem);
}
.whitecollar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  line-height: 1.22;
}
.whitecollar__item:not(:last-child) {
  margin-bottom: clamp(1.4375rem, 1.4375rem + 0 * (100vw - 320px) / 930, 1.4375rem);
}
.whitecollar__item::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: "";
  width: 27px;
  height: 27px;
  background: url("../img/check.svg") 0 0/contain no-repeat;
}
.whitecollar__achievements {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 21px;
}
.whitecollar__achievements:not(:last-child) {
  margin-bottom: clamp(1.25rem, 1.25rem + 17 * (100vw - 320px) / 930, 2.3125rem);
}
@media (max-width: 48.06125em) {
  .whitecollar__achievements {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.whitecollar__experience-wrapp, .whitecollar__awards-wrapp {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 295px;
          flex: 0 1 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
  border: 1px solid #e3e3e3;
  padding: clamp(0.9375rem, 0.9375rem + 17 * (100vw - 320px) / 930, 2rem);
}
.whitecollar__experience-wrapp::before, .whitecollar__awards-wrapp::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 39px;
  height: 39px;
  background: url("../img/experience.svg") 0 0/contain no-repeat;
}
.whitecollar__awards-wrapp::before {
  content: "";
  background: url("../img/awards.svg") 0 0/contain no-repeat;
}
.whitecollar__title-achievements {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.whitecollar__title-achievements:not(:last-child) {
  margin-bottom: clamp(0.1875rem, 0.1875rem + 0 * (100vw - 320px) / 930, 0.1875rem);
}
.whitecollar__button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  padding: 1.2222222222em 2.3888888889em;
  background: #6b77e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .whitecollar__button:hover {
    background: #6b77e5;
    background: #40ddb6;
  }
}
@media (max-width: 35.56125em) {
  .whitecollar__button {
    width: 100%;
  }
}

.togrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 48.06125em) {
  .togrow {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.togrow__image {
  width: 100%;
}
.togrow__image:not(:last-child) {
  margin-bottom: clamp(0.4375rem, 0.4375rem + 0 * (100vw - 320px) / 930, 0.4375rem);
}
.togrow__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.togrow__link {
  color: #37393f;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .togrow__link:hover {
    color: #40ddb6;
  }
}

.footer {
  background: #37393f;
}
.footer__container {
  padding-top: clamp(1.875rem, 1.875rem + 65 * (100vw - 320px) / 930, 5.9375rem);
  padding-bottom: clamp(1.875rem, 1.875rem + 65 * (100vw - 320px) / 930, 5.9375rem);
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.2;
  padding: clamp(1.875rem, 1.875rem + 20 * (100vw - 320px) / 930, 3.125rem) 0;
  border-bottom: 1px solid #6c6d72;
  border-top: 1px solid #6c6d72;
}
.footer__row:not(:last-child) {
  margin-bottom: clamp(1.375rem, 1.375rem + -20 * (100vw - 320px) / 930, 0.125rem);
}
.footer__column > *:not(:last-child) {
  margin-bottom: clamp(0.8125rem, 0.8125rem + 0 * (100vw - 320px) / 930, 0.8125rem);
}
.footer__title {
  color: #40ddb6;
  font-size: clamp(0.875rem, 0.875rem + 4 * (100vw - 320px) / 930, 1.125rem);
  font-weight: 500;
  line-height: 1.22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 1.25rem;
}
.footer__title::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #6b77e5;
}
.footer__list > *:not(:last-child) {
  margin-bottom: clamp(0.8125rem, 0.8125rem + 0 * (100vw - 320px) / 930, 0.8125rem);
}
.footer__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #40ddb6;
  }
}
.footer__form {
  padding: clamp(1.25rem, 1.25rem + 25 * (100vw - 320px) / 930, 2.8125rem) clamp(1.125rem, 1.125rem + 18 * (100vw - 320px) / 930, 2.25rem);
  background: #474950;
}
.footer__title-form {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.footer__title-form:not(:last-child) {
  margin-bottom: clamp(0.625rem, 0.625rem + 0 * (100vw - 320px) / 930, 0.625rem);
}
.footer__label {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.375em;
  display: block;
}
.footer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 32.56125em) {
  .footer__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}
.footer__input {
  padding: 22px 27px;
}
@media (max-width: 32.56125em) {
  .footer__input {
    width: 100%;
  }
}
.footer__button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  padding: 1.2222222222em 2.3888888889em;
  background: #6b77e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .footer__button:hover {
    background: #6b77e5;
    background: #40ddb6;
  }
}
@media (max-width: 32.56125em) {
  .footer__button {
    width: 100%;
  }
}
.footer__copy {
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (min-width: 51.31125em) {
  .footer__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__copy-text a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__copy-text a:hover {
    text-decoration: underline;
  }
}
.footer__copy-text a:first-child {
  color: #6b77e5;
}
.footer__copy-text a:last-child {
  color: #40ddb6;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  line-height: 1.2;
}
.footer__title-copy {
  text-transform: capitalize;
}
.footer__social-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__social-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__social-link:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }
}
.footer__social-link svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__social-link:hover svg path {
    fill: #40ddb6;
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: clamp(1.875rem, 1.875rem + 24 * (100vw - 320px) / 930, 3.375rem);
  color: #fff;
}
.top__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 834px;
          flex: 0 1 834px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.top__tile svg {
  max-width: 68px;
  max-height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .top__tile:hover a svg {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (any-hover: hover) {
  .top__tile:hover .top__body a {
    text-decoration: underline;
  }
}
.top__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.22;
}
.top__link {
  font-size: 1.125em;
}