@import "_fonts.scss";
@import "_reset.scss";
@import "_function.scss";

// ----------------------------------------------------
//colors
$primaryColor: #7d7d7d;
$darkColor: #37393f;
$whiteColor: #fff;
$whiteSecondColor: #f4f4f4;
$primaryButtonColor: #6b77e5;
$secondaryButtonColor: #40ddb6;
//varibles
$headerHeight: rangeValue(70, 108);
$coreSansC: "Core Sans C", serif;
//template
@mixin button($color: $whiteColor, $bg: $primaryButtonColor) {
	color: $color;
	font-family: "Inter", sans-serif;
	font-size: toRem(18);
	font-weight: 600;
	line-height: 1.22;
	text-transform: capitalize;
	padding: toEm(22, 18) toEm(43, 18);
	background: $bg;
	transition: all 0.3s;
	white-space: nowrap;
	@media (any-hover: hover) {
		&:hover {
			background: $bg;
			@if ($bg==$primaryButtonColor) {
				background: $secondaryButtonColor;
			}
			@if ($bg==$secondaryButtonColor) {
				background: $primaryButtonColor;
			}
			@if ($bg==$darkColor) {
				background: $primaryButtonColor;
			}
		}
	}
}
@mixin subTitlePlusSquad($textColor: $darkColor, $squadColor: $secondaryButtonColor) {
	color: $textColor;
	font-size: rangeValue(14, 18);
	font-weight: 500;
	line-height: 1.22;
	display: flex;
	align-items: center;
	gap: 6px;
	&::before {
		content: "";
		width: 12px;
		height: 12px;
		background: $squadColor;
	}
}
@mixin marginBottomNotLast($min: 25, $given: 25) {
	&:not(:last-child) {
		margin-bottom: rangeValue($min, $given);
	}
}
// general---------------
.title {
	color: $darkColor;
	font-family: "Poppins", sans-serif;
	font-size: rangeValue(28, 40);
	font-weight: 700;
	line-height: 1.21;
}
.smalltitle {
	color: $darkColor;
	font-family: "Poppins", sans-serif;
	font-size: rangeValue(24, 30);
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
}
.solution-Card {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	padding: rangeValue(10, 30);
}

// ------------
body {
	font-family: "Inter", sans-serif;
	line-height: 1.46;
	color: $primaryColor;
	@media (max-width: toEm(1090.98)) {
		.menu-open & {
			overflow: hidden;
		}
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	> main {
		flex-grow: 1;
	}
}

[class*="_container"] {
	// задаємо ширину контейнера без одиниць вимірювання в змінну $containerWidth: в _function.scss
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}
// ---------------------------------------------
// \\\\\\\\\\\\\\\\\\general

//HEADER\\===========
// ---------top---------

.top-line {
	background: $darkColor;
	color: $whiteColor;
	font-size: toRem(14);
	line-height: 1.22;
	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		justify-content: space-between;
		align-items: center;
		padding: rangeValue(10, 21) 15px;
		@media (max-width: toEm(925.98)) {
			justify-content: center;
			gap: 0;
		}
		@media (max-width: toEm(550.98)) {
			justify-content: flex-start;
		}
	}
	&__left-side {
		display: flex;
		gap: rangeValue(15, 42);
		flex-wrap: wrap;
	}
	&__location {
		display: flex;
		align-items: center;
		gap: 10px;
		transition: color 0.3s;
		&::before {
			content: "";
			width: 23px;
			height: 22px;
			background: url("../img/top-line/location.svg") 0 0 / contain no-repeat;
		}
		@media (max-width: toEm(925.98)) {
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $secondaryButtonColor;
			}
		}
	}
	&__mail {
		@extend .top-line__location;
		&::before {
			background: url("../img/top-line/mail.svg") 0 0 / contain no-repeat;
		}
	}
	&__right-side {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		gap: rangeValue(15, 50);
	}
	&__time {
		@extend .top-line__location;
		&::before {
			background: url("../img/top-line/time.svg") 0 0 / contain no-repeat;
		}
	}
	&__social-wrapp {
		flex-wrap: wrap;
		display: flex;
		gap: 16px;
	}
	&__social-link {
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
		svg path {
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover svg path {
				fill: $secondaryButtonColor;
			}
		}
	}
}

// ---------------------header-main-----------
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background: $whiteColor;
	&__container {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: space-between;
		padding: rangeValue(5, 33) 15px;
		flex-wrap: wrap;
	}
	&__logo {
		flex: 0 1 auto;
	}
	&__body {
		display: flex;
		align-items: center;
		gap: rangeValue(20, 40);
		color: $darkColor;
		font-family: "Inter", sans-serif;
		flex-wrap: wrap;
		position: relative;
		// flex: 0 1 50%;
	}
	&__menu {
		position: relative;
		z-index: 5;
		top: 0;
		left: 0;
		transition: all 0.3s;
		display: flex;
		flex-direction: column;
		@media (max-width: toEm(1090.98)) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			.menu-open & {
				top: 0;
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rangeValue(15, 40);
		align-items: center;
		@media (max-width: toEm(1090.98)) {
			justify-content: flex-start;
			width: 100%;
			height: 100%;
			overflow: auto;
			flex-wrap: nowrap;
			flex-direction: column;
			background: #7d7d7d;
			padding-top: rangeValue(50, 100);
			padding-bottom: rangeValue(50, 100);
		}
		.menu-open & {
		}
	}
	&__item {
	}
	&__link {
		font-size: toRem(18);
		text-transform: capitalize;
		@media (max-width: toEm(1090.98)) {
			font-size: 24px;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__item--pages {
	}
	&__submenu {
		display: none;
	}
	&__subitem {
	}
	&__pages-link {
	}
	&__button {
		@include button();
		@media (max-width: toEm(550.98)) {
			position: fixed;
			right: 10px;
			top: 5px;
			animation: buttonAnimation 2.3s infinite alternate;
			padding: 5px 10px;
		}
	}
	&__burger {
		display: none;
		@media (max-width: toEm(1090.98)) {
			width: 30px;
			height: 26px;
			position: relative;
			// background: transparent;
			display: block;
			z-index: 22;
		}

		span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0px;
			width: 100%;
			height: 4px;
			background: $darkColor;
			transition: all 0.3s;
		}

		span {
			top: 50%;
			margin-top: -2px;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		.menu-open &::before {
			background: $whiteColor;
			transform: rotate(45deg) scale(1.3);
			top: 50%;
		}

		.menu-open &::after {
			background: $whiteColor;
			transform: rotate(-45deg) scale(1.3);
			top: 50%;
		}

		.menu-open & span {
			display: none;
		}
	}
}

//MAIN\\=============
.hero {
	position: relative;
	min-height: 100vh;
	padding-top: rangeValue(90, 104);
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__container {
		max-width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
	&__body-wrapp {
		flex: 0 1 100%;
		align-items: center;
		min-height: 100vh;
		display: flex;
	}
	&__body {
		padding: rangeValue(15, 204) rangeValue(15, 180) rangeValue(15, 204) rangeValue(15, 116);
		flex: 0 1 43%;
		min-height: 100%;
		background-color: rgba(55, 57, 63, 0.91);
		backdrop-filter: blur(9.5px);
		@media (max-width: toEm(768.98)) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
	&__subtitle {
		@include subTitlePlusSquad($whiteColor);
		margin-bottom: 10px;
		@media (max-width: toEm(768.98)) {
			justify-content: center;
		}
	}
	&__title {
		color: $whiteColor;
		font-family: "Poppins", sans-serif;
		font-size: rangeValue(32, 60);
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 20px;
		span {
			color: $secondaryButtonColor;
		}
	}
	&__text {
		margin-bottom: 35px;
		color: #b9b9b9;
	}
	&__actions {
		display: flex;
		gap: 30px;
		align-items: center;
		@media (max-width: toEm(768.98)) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__button {
		@include button($darkColor, $secondaryButtonColor);
		@media (max-width: toEm(568.98)) {
			width: 100%;
		}
	}
	&__video-link {
		flex-shrink: 0;
		display: flex;
		gap: 10px;
		align-items: center;
		@media (max-width: toEm(568.98)) {
			justify-content: center;
			width: 100%;
			background: #40ddb6;
			color: $darkColor;
			font-weight: 700;
			padding: 5px 0;
		}
		svg path {
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover svg path {
				fill: $secondaryButtonColor;
			}
		}
		p {
			text-transform: capitalize;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.hero--margin {
}
// --------------------------------------
.whitecollar {
	position: relative;
	&__bg {
		width: 43%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $whiteSecondColor;
		z-index: -1;
		@media (max-width: toEm(768.98)) {
			display: none;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: toEm(768.98)) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			align-items: center;
		}
		padding-top: rangeValue(30, 150);
		padding-bottom: rangeValue(30, 150);
		gap: rangeValue(20, 69);
	}
	&__togrow {
		flex: 0 1 408px;
	}
	&__bussines-plan {
		flex: 0 1 612px;
		@media (max-width: toEm(768.98)) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__subtitle {
		@include subTitlePlusSquad();
		margin-bottom: 16px;
	}
	&__title {
		@include marginBottomNotLast(20, 20);
		max-width: toEm(413, 40);
	}
	&__text {
		@include marginBottomNotLast(20, 20);
		p {
			@include marginBottomNotLast(15, 15);
		}
	}
	&__list {
		@include marginBottomNotLast(20, 43);
		text-align: left;
	}
	&__item {
		display: flex;
		gap: 8px;
		align-items: flex-start;
		@include marginBottomNotLast(23, 23);
		color: $darkColor;
		font-family: "Poppins", sans-serif;
		font-size: toEm(20);
		line-height: 1.22;

		&::before {
			flex-shrink: 0;
			content: "";
			width: 27px;
			height: 27px;
			background: url("../img/check.svg") 0 0 / contain no-repeat;
		}
	}
	&__achievements {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include marginBottomNotLast(20, 37);
		gap: 21px;
		@media (max-width: toEm(768.98)) {
			justify-content: center;
		}
	}
	&__experience-wrapp {
		flex: 0 1 295px;
		display: flex;
		gap: 19px;
		border: 1px solid #e3e3e3;
		padding: rangeValue(15, 32);
		&::before {
			content: "";
			flex: 0 0 auto;
			width: 39px;
			height: 39px;
			background: url("../img/experience.svg") 0 0 / contain no-repeat;
		}
	}
	&__awards-wrapp {
		@extend .whitecollar__experience-wrapp;
		&::before {
			content: "";
			background: url("../img/awards.svg") 0 0 / contain no-repeat;
		}
	}
	&__experience {
	}
	&__title-achievements {
		color: $darkColor;
		font-family: "Poppins", sans-serif;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.2;
		@include marginBottomNotLast(3, 3);
	}
	&__text-achievements {
	}
	&__awards {
	}
	&__button {
		@include button();
		@media (max-width: toEm(568.98)) {
			width: 100%;
		}
	}
}
.togrow {
	display: flex;
	flex-direction: column;
	gap: 15px;
	@media (max-width: toEm(768.98)) {
		flex: 1;
	}
	&__image {
		width: 100%;
		@include marginBottomNotLast(7, 7);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__smalltitle {
	}
	&__text {
	}
	&__link {
		color: $darkColor;
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.22;
		text-transform: capitalize;
		text-decoration: underline;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $secondaryButtonColor;
			}
		}
	}
}

// ---------------------------------------

//FOOTER\\===========
.footer {
	background: $darkColor;
	&__container {
		padding-top: rangeValue(30, 95);
		padding-bottom: rangeValue(30, 95);
	}
	&__top {
	}
	&__row {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		color: $whiteColor;
		flex-wrap: wrap;
		line-height: 1.2;
		padding: rangeValue(30, 50) 0;
		border-bottom: 1px solid #6c6d72;
		border-top: 1px solid #6c6d72;
		@include marginBottomNotLast(22, 2);
	}
	&__column {
		& > * {
			@include marginBottomNotLast(13, 13);
		}
	}
	&__title {
		@include subTitlePlusSquad($secondaryButtonColor, $primaryButtonColor);
		font-size: toRem(20);
	}
	&__list {
		& > * {
			@include marginBottomNotLast(13, 13);
		}
	}
	&__item {
	}
	&__link {
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $secondaryButtonColor;
			}
		}
	}
	&__form {
		padding: rangeValue(20, 45) rangeValue(18, 36);
		background: #474950;
	}
	&__title-form {
		font-family: "Poppins", sans-serif;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.2;
		@include marginBottomNotLast(10, 10);
	}
	&__input-wrap {
	}
	&__label {
		font-size: toRem(18);
		line-height: 1.2;
		font-weight: 400;
		margin-bottom: toEm(22);
		display: block;
	}
	&__actions {
		display: flex;
		@media (max-width: toEm(520.98)) {
			flex-wrap: wrap;
			gap: 20px;
		}
	}
	&__input {
		padding: 22px 27px;
		@media (max-width: toEm(520.98)) {
			width: 100%;
		}
	}
	&__button {
		@include button();
		@media (max-width: toEm(520.98)) {
			width: 100%;
		}
	}
	&__copy {
		text-align: center;
		color: $whiteColor;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		@media (min-width: toEm(820.98)) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__copy-text {
		a {
			transition: all 0.3s;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		a:first-child {
			color: $primaryButtonColor;
		}
		a:last-child {
			color: $secondaryButtonColor;
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 12px;
		line-height: 1.2;
	}
	&__title-copy {
		text-transform: capitalize;
	}
	&__social-wrapp {
		display: flex;
		align-items: center;
		gap: 16px;
		justify-content: space-between;
	}
	&__social-link {
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.07);
			}
		}
		svg path {
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover svg path {
				fill: $secondaryButtonColor;
			}
		}
	}
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
	margin-bottom: rangeValue(30, 54);
	color: $whiteColor;
	&__logo {
	}
	&__wrapp {
		display: flex;
		gap: 15px;
		flex: 0 1 834px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__tile {
		display: flex;
		align-items: center;
		gap: 15px;
		svg {
			max-width: 68px;
			max-height: 68px;
			object-fit: cover;
			transition: all 0.3s;
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover a svg {
				transform: scale(1.05);
			}
		}
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover .top__body a {
				text-decoration: underline;
			}
		}
	}
	&__body {
	}
	&__title {
		font-family: "Poppins", sans-serif;
		font-size: toEm(20);
		font-weight: 600;
		line-height: 1.22;
	}
	&__link {
		font-size: toEm(18);
	}
}
